<!DOCTYPE html>
<html>

<body>
    <p>
        ID <input type="text" id="selectId" />
        <input type="button" id="selectBtn" value="SELECT" />
    </p>
    <p>
        Name <input type="text" id="insertName" />
        Age <input type="text" id="insertAge" />
        <input type="button" id="insertBtn" value="INSERT" />
    </p>
    <p>
        ID <input type="text" id="updateId" />
        Name <input type="text" id="updateName" />
        Age <input type="text" id="updateAge" />
        <input type="button" id="updateBtn" value="UPDATE" />
    </p>
    <p>
        ID <input type="text" id="deleteId" />
        <input type="button" id="deleteBtn" value="DELETE" />
    </p>
    <script src="module.js"></script>
</body>

</html>